<head>
  <title>meteor-free-jqgrid</title>
</head>

<body>
  <h1>meteor-free-jqgrid</h1>

  {{> hello}}

</body>

<template name="hello">
  <p>Table id grid</p>
  <table id="grid"></table>
</template>
